<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
		<meta charset="utf-8"/>
        <title>Connect Four 404</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="author" content="SquirrelLabs"/>
		<meta name="keywords" content="SquirrelLabs"/>
		<meta name="description" content="SquirrelLabs"/>
		
		<!-- Favicon and touch icons -->

		<!--stylesheets-->
        <link href="{% static "/css/game.css" %}" rel="stylesheet" type="text/css" />
		
		<!-- JavaScript plugins (requires jQuery) -->
    </head>

    <body>
		<div class="container404">
			<div class="right-section dark">
				<div class="logo">
					<a href=""><img src="{% static "/images/logo-dark.png" %}" alt="logo"/> CONNECT FOUR</a>
				</div>
				<h1>404</h1>
				<div class="separator-light"></div>
				<h2>Page not found! Don't worry, sometimes it happens even for the best of us :)</h2>
				<a class="btn" href="http://127.0.0.1:8000/dlp/list_dir">To The Main Page</a>
                <br>
                <a href=""><img src="{% static "images/new.jpeg" %}" style="border-radius: 100px; width: 70%; height: 70%;"/></a>
					<!--socials-->

				</div>
			</div>
{#			<div class="clear"></div>#}
		</div>
    </body>
</html>